<% @user.bookings.reverse.each do |booking| %>
  <%= link_to boat_booking_path(booking.boat, booking) do %>

    <div class="card-large">
      <%= cl_image_tag booking.boat.photo, class: "card-picture" %>
      <% if booking.boat.location.include?(',') %>
        <h5 class="card-summary">You're going to
        <%= booking.boat.location.split(',')[-2].strip %> on the <%= booking.boat.name %></h5>
      <% else %>
        <h5 class="card-summary">You're going to
        <%= booking.boat.location %> on the <%= booking.boat.name %></h5>
      <% end %>
      <p class="card-status"><%= booking.status %></p>
      <div class="card-details">
        <p class="card-duration"><%= booking.start_date.strftime('%a %e %b') %> - <%= booking.end_date.strftime('%a %e %b') %></p>
        <p class="card-price">€<%= number_with_delimiter(booking.total_price, :delimiter => ',') %></p>
      </div>

      <% unless booking.status == ("Cancelled" || "Declined") %>
        <%= render 'cancel_button', boat: booking.boat, booking: booking %>
      <% end %>

<!--       <p class="card-price"><%= booking.total_price %></p>
 -->


    </div>
  <% end %>

<% end %>
