<% @user.bookings.each do |booking| %>
  <%= link_to boat_booking_path(booking.boat, booking) do %>
    <div class="card-large" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
      url('<%= cl_image_path booking.boat.photo, height: 300, width: 400, crop: :fill if booking.boat.photo.url %>')">
      <h5 class="card-summary">You're going to <%= booking.boat.location %> on the <%= booking.boat.name %></h5>
      <p class="card-status"><%= booking.status %></p>
      <div class="card-details">
        <p class="card-duration"><%= booking.start_date.strftime('%a %e %b') %> - <%= booking.end_date.strftime('%a %e %b') %></p>
        <p class="card-price">€<%= number_with_delimiter(booking.total_price, :delimiter => ',') %></p>
      </div>

      <% unless booking.status == ("Cancelled" || "Declined") %>
        <%= simple_form_for([booking.boat, booking]) do |f|  %>
          <%= f.input :status, input_html: {value: "Cancelled"}, as: :hidden %>
          <%= f.submit "Cancel", data: {confirm: "Are you sure you want to cancel?"}, class: "btn-transparent btn-cancel card-cancel"%>
        <% end %>
      <% end %>

<!--       <p class="card-price"><%= booking.total_price %></p>
 -->


    </div>
  <% end %>

<% end %>
