<% @user.boats.each do |boat| %>
  <% boat.bookings.reverse.each do |booking| %>
    <%= link_to boat_booking_path(boat, booking) do %>

      <div class="card-large" style="background-image: linear-gradient(-225deg, rgba(0,90,70,0.3) 0%, rgba(0,36,61,0.3) 50%), url('<%= cl_image_path booking.boat.photo, height: 300, width: 400, crop: :fill if booking.boat.photo.url %>')">

        <!-- <div class="card-description"> -->
          <h5 class="card-summary">
            <%= booking.user.first_name %> has booked a trip on the <%= booking.boat.name %> in <%= booking.boat.location.split(',')[-2].strip %>
          </h5>
          <!-- <h2><%= booking.boat.name %></h2>
          <p><%= booking.boat.location %></p> -->
        <!-- </div> -->
        <p class="card-status"><%= booking.status %></p>
        <div class="card-details">
          <p class="card-duration"><%= booking.start_date.strftime('%a %e %b') %> - <%= booking.end_date.strftime('%a %e %b') %></p>
          <p class="card-price">€<%= number_with_delimiter(booking.total_price, :delimiter => ',') %></p>
        </div>
        <div class="card-status-actions">
          <% if booking.status == 'Requested' %>
          <div>
            <%= render 'decline_button', boat: booking.boat, booking: booking %>
          </div>
          <div>
            <%= render 'accept_button', boat: booking.boat, booking: booking %>
          </div>
          <% elsif booking.status == 'Accepted' %>
            <%= render 'cancel_button', boat: booking.boat, booking: booking  %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
