<div class="container">
  <div class="row">

      <%= render 'shared/boat-profile' %>

      <div class="col-xs-12 col-sm-4" id="booking-confirmation">
       <h3>Booking Confirmation</h3>
       <h4>Booking status: <%= @booking.status %></h4>
       <p> booking details:</p>
       <ul>
        <li><p><em>Start date</em>: <%= @booking.start_date %></p></li>
        <li><p><em>End date</em>: <%= @booking.end_date %></p></li>
        <li><p><em>Number of passengers</em>: <%= @booking.passenger_number %></p></li>
        <li><p><em>Total price</em>: <%= @booking.total_price %></p></li>
      </ul>

      <%= link_to "Go to index", boats_path, class: "btn btn-warning" %>
      <%= link_to "Change booking", edit_boat_booking_path(@boat, @booking), class: "btn btn-primary" %>
    </div>
  </div>
