<div class="container">
  <div class="row">

      <%= render 'shared/boat-profile' %>

      <div class="col-xs-12 col-sm-4" id="booking-form">
          <div class="price-display">
            <h5>Daily price</h5>
            <h5>EUR <%= @boat.daily_price %></h5>
          </div>
        <%= simple_form_for([@boat, @booking]) do |f| %>
        <div class="date-container">
          <div>
            <%= f.input :start_date, placeholder: "Start date", input_html: {class: "transparent-input" } %>
          </div>
          <div>
            <%= f.input :end_date, placeholder: "End date", input_html: {class: "transparent-input" } %>
          </div>
        </div>
        <%= f.input :passenger_number, placeholder: "Number of passengers", input_html: {class: "transparent-input" } %>
        <%= f.submit class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>


